<div align="center">
<h1 style="color:#2c3e50;">沒 Proyecto MySQL</h1>
<h2 style="color:#34495e;">Anﾃ｡lisis de Base de Datos</h2>



**Nuclio Digital School**  
*Mﾃｳdulo 5: My SQL*

---

<span style="color:#3498db"> **Autor:** Azahara Bravo Montalbﾃ｡n

<span style="color:#3498db">**Fecha:** 20 de Junio, 2025  
<span style="color:#3498db">**Versiﾃｳn:** 1.0  

</div>

# **ENUNCIADO**

<span style="color:#3498db">Trabajas en una agencia que se dedica a organizar viajes a personas, tu cargo especﾃｭficamente es analista de datos del ﾃ｡rea de clientes VIP. 

<span style="color:#3498db">Ha llegado a la agencia un cantante famoso, conocido en Espaﾃｱa, que desea que le ubiquﾃｩis un buen alojamiento que le permita disfrutar del sol para sus prﾃｳximas vacaciones de verano que serﾃ｡n a finales del mes de julio del 2025. 

<span style="color:#3498db">Este cliente quiere descansar porque necesita prepararse para una gira de conciertos que darﾃ｡ en septiembre y por ahora quiere alejarse del foco mediﾃ｡tico todo lo que pueda durante sus vacaciones, no le gustarﾃｭa llamar la atenciﾃｳn durante esos dﾃｭas ya que estarﾃ｡ con sus 2 padres, sus 2 hermanos pequeﾃｱos, su novia y los padres de su novia. 

<span style="color:#3498db">El cliente no tiene claro el destino al que quiere ir, solo sabe que tiene que ser en alguna playa. Tu trabajo serﾃ｡ encontrar la propiedad en la que el cliente y su familia se alojarﾃ｡n durante sus vacaciones de verano teniendo en cuenta las exigencias del cliente.

# **PRIMERA PARTE**

<span style="color:#3498db"> Primer paso: crear la query de cada uno de las exigencias del cliente. Se debe crear una query para cada punto. (7 queries en total)

<span style="color:#3498db"> - El cliente exige terraza y aire acondicionado, pero no quiere piscina.

<span style="color:#3498db"> - No se alojarﾃ｡ en estudios que no tengan salﾃｳn ni en propiedades con solo un baﾃｱo

<span style="color:#3498db"> - La propiedad debe tener como mﾃｭnimo 80m2

<span style="color:#3498db"> - Como el cliente odia el ruido, no quiere alojarse en propiedades a menos de 1 km de una estaciﾃｳn de metro ni a menos de 2 km del centro.

<span style="color:#3498db"> - El rango permitido por el cliente para pagar es entre 1.500竄ｬ y 2.000竄ｬ la noche.

<span style="color:#3498db"> - Como en anteriores ocasiones ha tenido problemas de intentos de estafas con otras agencias, el cliente pide que el % de reserva no sea muy alto, pero tampoco tan bajo (porque le genera inseguridad) por lo que propone un 25%

<span style="color:#3498db"> - Quiere que el alojamiento tenga mﾃ｡s de 4,5 puntos de confianza y que la agencia que lo lleva tenga mﾃ｡s de 4 puntos

In [1]:
!pip install sqlalchemy
!pip install mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\azahara\anaconda3\envs\sql\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\azahara\anaconda3\envs\sql\lib\site-packages (from sqlalchemy) (3.2.2)
Requirement already satisfied: mysql-connector-python in c:\users\azahara\anaconda3\envs\sql\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\azahara\anaconda3\envs\sql\lib\site-packages (from mysql-connector-python) (3.20.3)

In [2]:
from sqlalchemy import create_engine
import sqlalchemy
import mysql.connector as mysql
import pandas as pd

**Creamos la conexiﾃｳn**

In [3]:
# Parﾃ｡metros de conexiﾃｳn
user     = 'root'
password = '13Data2025#'
#db = ''
sqlServer = 'localhost' # deberﾃｭa ser IP o DNS (Domain Name System) del servidor de la base de datos

# Creamos string de conexiﾃｳn
connStr = "mysql+mysqlconnector://" + user + ":" + password + "@" + sqlServer # +  "/"  + db

# print de string de conexiﾃｳn
print (connStr)

# Conectamos con el servidor
conn = create_engine(connStr).connect()

mysql+mysqlconnector://root:13Data2025#@localhost

**CREAMOS LA BASE DE DATOS**

In [4]:
# Crea una BD con nombre ENTREGABLE
sSQL = "CREATE DATABASE ENTREGABLE"
conn.execute(sSQL)

In [4]:
# Cerrar conexiﾃｳn anterior y conectar a la base de datos ENTREGABLE
conn.close()

# Nueva conexiﾃｳn a la base de datos del entregable
db = 'ENTREGABLE'
connStr = "mysql+mysqlconnector://" + user + ":" + password + "@" + sqlServer + "/" + db
print(connStr)

# Conectar a la base de datos ENTREGABLE
conn = create_engine(connStr).connect()
print("笨 Conectado a la base de datos ENTREGABLE")

mysql+mysqlconnector://root:13Data2025#@localhost/ENTREGABLE
笨 Conectado a la base de datos ENTREGABLE

**ANALIZO LAS TABLAS DESDE PANDAS**

In [7]:
# Leer los archivos Excel

# Leer archivo ALOJAMIENTO
df_alojamiento = pd.read_excel('ALOJAMIENTO.xlsx')
print("沒 TABLA ALOJAMIENTO:")
print(f"Filas: {len(df_alojamiento)}, Columnas: {len(df_alojamiento.columns)}")
print("Columnas:", list(df_alojamiento.columns))
print("\nPrimeras 5 filas:")
print(df_alojamiento.head(5))

沒 TABLA ALOJAMIENTO:
Filas: 20, Columnas: 9
Columnas: ['CODIGO_ALOJAMIENTO', 'NOMBRE', 'CANT_BANYOS', 'CANT_HAB', 'SALON', 'TERRAZA', 'AIREC_ACOND', 'PISCINA', 'SUPERFICIE']

Primeras 5 filas:
  CODIGO_ALOJAMIENTO                    NOMBRE  CANT_BANYOS  CANT_HAB SALON  \
0            ALOJ001         Villa Sol del Mar            2         3    SI
1            ALOJ002  Apartamento Las Palmeras            1         2    SI
2            ALOJ003         Cabaﾃｱa El Refugio            1         1    NO
3            ALOJ004     Piso Centro Histﾃｳrico            2         3    SI
4            ALOJ005      Estudio Playa Blanca            1         1    NO

  TERRAZA AIREC_ACOND PISCINA  SUPERFICIE
0      SI          SI      SI         120
1      NO          SI      NO          75
2      SI          NO      NO          45
3      SI          SI      NO          90
4      NO          SI      NO          40

In [8]:
# Leer archivo PRECIO
df_precio = pd.read_excel('PRECIO.xlsx')
print("沒 TABLA PRECIO:")
print(f"Filas: {len(df_precio)}, Columnas: {len(df_precio.columns)}")
print("Columnas:", list(df_precio.columns))
print("\nPrimeras 5 filas:")
print(df_precio.head(5))

沒 TABLA PRECIO:
Filas: 20, Columnas: 4
Columnas: ['CODIGO_ALOJAMIENTO', 'PRECIO_ALQUILER', 'RESERVA', 'PORCENTAJE_RESERVA']

Primeras 5 filas:
  CODIGO_ALOJAMIENTO  PRECIO_ALQUILER RESERVA  PORCENTAJE_RESERVA
0            ALOJ001             1800      SI                 100
1            ALOJ002              780      SI                  25
2            ALOJ003              800      NO                   0
3            ALOJ004             1600      SI                  25
4            ALOJ005              900      NO                   0

In [9]:
# Leer archivo PUNTUACION
df_puntuacion = pd.read_excel('PUNTUACION.xlsx')
print("沒 TABLA PUNTUACION:")
print(f"Filas: {len(df_puntuacion)}, Columnas: {len(df_puntuacion.columns)}")
print("Columnas:", list(df_puntuacion.columns))
print("\nPrimeras 5 filas:")
print(df_puntuacion.head(5))

沒 TABLA PUNTUACION:
Filas: 20, Columnas: 4
Columnas: ['CODIGO_ALOJAMIENTO', 'PUNTOS', 'AGENCIA', 'PUNTOS_AGENCIA']

Primeras 5 filas:
  CODIGO_ALOJAMIENTO  PUNTOS       AGENCIA  PUNTOS_AGENCIA
0            ALOJ001     5.0    GlobalHome             4.4
1            ALOJ002     4.2    AndesRenta             4.1
2            ALOJ003     4.1  AlquilaFacil             4.0
3            ALOJ004     4.6    CaribeRent             4.6
4            ALOJ005     4.4      RentaTop             3.8

In [10]:
# Leer archivo UBICACION
df_ubicacion = pd.read_excel('UBICACION.xlsx')
print("沒 TABLA UBICACION:")
print(f"Filas: {len(df_ubicacion)}, Columnas: {len(df_ubicacion.columns)}")
print("Columnas:", list(df_ubicacion.columns))
print("\nPrimeras 5 filas:")
print(df_ubicacion.head(5))

沒 TABLA UBICACION:
Filas: 20, Columnas: 5
Columnas: ['CODIGO_ALOJAMIENTO', 'PAIS', 'CIUDAD', 'DIST_METRO', 'DIST_CENTRO']

Primeras 5 filas:
  CODIGO_ALOJAMIENTO      PAIS     CIUDAD  DIST_METRO  DIST_CENTRO
0            ALOJ001  Portugal      Liboa         1.0          2.0
1            ALOJ002    Espaﾃｱa     Madrid         0.5          0.8
2            ALOJ003    Espaﾃｱa  Barcelona         0.9          0.4
3            ALOJ004   Francia   Marsella         3.0          4.0
4            ALOJ005  Portugal     Oporto         4.0          3.0

**DESCARGAR LAS TABLAS A SQL**

In [11]:
# ========== CARGAR DATOS A MYSQL ==========
# (Los DataFrames ya estﾃ｡n cargados desde el anﾃ｡lisis anterior)

# 1. ALOJAMIENTO
print("沒 Cargando ALOJAMIENTO a MySQL...")
df_alojamiento.to_sql('ALOJAMIENTO', conn, if_exists='replace', index=False)
print("笨 Tabla ALOJAMIENTO creada y cargada")

# 2. UBICACION  
print("沒 Cargando UBICACION a MySQL...")
df_ubicacion.to_sql('UBICACION', conn, if_exists='replace', index=False)
print("笨 Tabla UBICACION creada y cargada")

# 3. PRECIO
print("沒 Cargando PRECIO a MySQL...")
df_precio.to_sql('PRECIO', conn, if_exists='replace', index=False)
print("笨 Tabla PRECIO creada y cargada")

# 4. PUNTUACION
print("沒 Cargando PUNTUACION a MySQL...")
df_puntuacion.to_sql('PUNTUACION', conn, if_exists='replace', index=False)
print("笨 Tabla PUNTUACION creada y cargada")

print("\n沁 ﾂ｡Todas las tablas cargadas exitosamente en MySQL!")

沒 Cargando ALOJAMIENTO a MySQL...

C:\Users\Azahara\AppData\Local\Temp\ipykernel_6688\2423282733.py:6: UserWarning: The provided table name 'ALOJAMIENTO' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_alojamiento.to_sql('ALOJAMIENTO', conn, if_exists='replace', index=False)
C:\Users\Azahara\AppData\Local\Temp\ipykernel_6688\2423282733.py:11: UserWarning: The provided table name 'UBICACION' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_ubicacion.to_sql('UBICACION', conn, if_exists='replace', index=False)
C:\Users\Azahara\AppData\Local\Temp\ipykernel_6688\2423282733.py:16: UserWarning: The provided table name 'PRECIO' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_precio.to_sql('PRECIO', conn, if_exists='replace', index=False)

笨 Tabla ALOJAMIENTO creada y cargada
沒 Cargando UBICACION a MySQL...
笨 Tabla UBICACION creada y cargada
沒 Cargando PRECIO a MySQL...
笨 Tabla PRECIO creada y cargada
沒 Cargando PUNTUACION a MySQL...
笨 Tabla PUNTUACION creada y cargada

沁 ﾂ｡Todas las tablas cargadas exitosamente en MySQL!

C:\Users\Azahara\AppData\Local\Temp\ipykernel_6688\2423282733.py:21: UserWarning: The provided table name 'PUNTUACION' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_puntuacion.to_sql('PUNTUACION', conn, if_exists='replace', index=False)

In [ ]:
# Verificar tablas creadas
conn.execute("show tables").fetchall()

[('alojamiento',), ('precio',), ('puntuacion',), ('ubicacion',)]

In [18]:
# Ver cuﾃ｡ntos datos hay en cada tabla
conn.execute("SELECT COUNT(*) FROM alojamiento;").fetchall()

[(20,)]

In [19]:
conn.execute("SELECT COUNT(*) FROM precio;").fetchall()

[(20,)]

In [20]:
conn.execute("SELECT COUNT(*) FROM puntuacion;").fetchall()

[(20,)]

In [21]:
conn.execute("SELECT COUNT(*) FROM ubicacion;").fetchall()

[(20,)]

Tal y como he visto anteriormente en el anﾃ｡lisis de los Xlxs con python estas tablas tienen 20 alojamientos todas.

## <span style="color:#3498db"> **1.EJERCICIOS PRIMERA PARTE**

### <span style="color:#3498db">**1.1 QUERYS UNA A UNA**

**QUERY 1**

In [8]:
# Query 1: Terraza SI, Aire acondicionado SI, Piscina NO
query1 = "SELECT * FROM alojamiento WHERE TERRAZA = 'SI' AND AIREC_ACOND = 'SI' AND PISCINA = 'NO'"

sSQL = pd.read_sql(query1, conn)
sSQL

,CODIGO_ALOJAMIENTO,NOMBRE,CANT_BANYOS,CANT_HAB,SALON,TERRAZA,AIREC_ACOND,PISCINA,SUPERFICIE
0,ALOJ004,Piso Centro Histﾃｳrico,2,3,SI,SI,SI,NO,90
1,ALOJ010,ﾃ》ico del Sol,3,3,SI,SI,SI,NO,88
2,ALOJ015,Dﾃｺplex Las Rocas,3,4,SI,SI,SI,NO,120
3,ALOJ018,Piso Parque Central,2,4,SI,SI,SI,NO,100

**QUERY 2**

In [9]:
# Query 2: Salon SI y mﾃ｡s de 1 baﾃｱo
query2 = "SELECT * FROM alojamiento WHERE SALON = 'SI' AND CANT_BANYOS > 1"

sSQL = pd.read_sql(query2, conn)
sSQL

,CODIGO_ALOJAMIENTO,NOMBRE,CANT_BANYOS,CANT_HAB,SALON,TERRAZA,AIREC_ACOND,PISCINA,SUPERFICIE
0,ALOJ001,Villa Sol del Mar,2,3,SI,SI,SI,SI,120
1,ALOJ004,Piso Centro Histﾃｳrico,2,3,SI,SI,SI,NO,90
2,ALOJ006,Chalet Vista al Lago,3,4,SI,SI,SI,SI,150
3,ALOJ007,Dﾃｺplex Jardines del Sur,2,3,SI,SI,SI,SI,130
4,ALOJ009,Casa Rﾃｺstica Montaﾃｱa,2,2,SI,SI,NO,NO,85
5,ALOJ010,ﾃ》ico del Sol,3,3,SI,SI,SI,NO,88
6,ALOJ012,Villa Palmeras,2,3,SI,SI,SI,SI,110
7,ALOJ014,Casa del Mar,3,4,SI,SI,SI,SI,160
8,ALOJ015,Dﾃｺplex Las Rocas,3,4,SI,SI,SI,NO,120
9,ALOJ017,Chalet Jardﾃｭn Secreto,3,5,SI,SI,SI,SI,180
10,ALOJ018,Piso Parque Central,2,4,SI,SI,SI,NO,100
11,ALOJ019,Casa Rﾃｭo Claro,2,2,SI,SI,NO,NO,95

**QUERY 3**

In [10]:
# Query 3: Superficie mﾃｭnimo 80m2
query3 = "SELECT * FROM alojamiento WHERE SUPERFICIE >= 80"

sSQL= pd.read_sql(query3, conn)
sSQL

,CODIGO_ALOJAMIENTO,NOMBRE,CANT_BANYOS,CANT_HAB,SALON,TERRAZA,AIREC_ACOND,PISCINA,SUPERFICIE
0,ALOJ001,Villa Sol del Mar,2,3,SI,SI,SI,SI,120
1,ALOJ004,Piso Centro Histﾃｳrico,2,3,SI,SI,SI,NO,90
2,ALOJ006,Chalet Vista al Lago,3,4,SI,SI,SI,SI,150
3,ALOJ007,Dﾃｺplex Jardines del Sur,2,3,SI,SI,SI,SI,130
4,ALOJ009,Casa Rﾃｺstica Montaﾃｱa,2,2,SI,SI,NO,NO,85
5,ALOJ010,ﾃ》ico del Sol,3,3,SI,SI,SI,NO,88
6,ALOJ012,Villa Palmeras,2,3,SI,SI,SI,SI,110
7,ALOJ013,Apartamento Moderno,1,2,SI,NO,SI,NO,80
8,ALOJ014,Casa del Mar,3,4,SI,SI,SI,SI,160
9,ALOJ015,Dﾃｺplex Las Rocas,3,4,SI,SI,SI,NO,120
10,ALOJ017,Chalet Jardﾃｭn Secreto,3,5,SI,SI,SI,SI,180
11,ALOJ018,Piso Parque Central,2,4,SI,SI,SI,NO,100
12,ALOJ019,Casa Rﾃｭo Claro,2,2,SI,SI,NO,NO,95

**QUERY 4**

In [11]:
# Query 4: Distancia metro >1km Y distancia centro >2km
query4 = "SELECT * FROM ubicacion WHERE DIST_METRO > 1 AND DIST_CENTRO > 2"

sSQL = pd.read_sql(query4, conn)
sSQL

  CODIGO_ALOJAMIENTO      PAIS     CIUDAD  DIST_METRO  DIST_CENTRO
0            ALOJ004   Francia   Marsella         3.0          4.0
1            ALOJ005  Portugal     Oporto         4.0          3.0
2            ALOJ008    Espaﾃｱa  Barcelona         2.0          3.0
3            ALOJ009    Espaﾃｱa     Madrid         2.0          4.0
4            ALOJ010    Espaﾃｱa     Bilbao         2.0          5.0
5            ALOJ015    Espaﾃｱa     Mﾃ｡laga         2.0          4.0
6            ALOJ018    Espaﾃｱa      Ibiza         2.0          4.0

**QUERY 5**

In [12]:
# Query 5: Precio entre 1500 y 2000 euros
query5 = "SELECT * FROM precio WHERE PRECIO_ALQUILER BETWEEN 1500 AND 2000"

sSQL = pd.read_sql(query5, conn)
sSQL

   CODIGO_ALOJAMIENTO  PRECIO_ALQUILER RESERVA  PORCENTAJE_RESERVA
0             ALOJ001             1800      SI                 100
1             ALOJ004             1600      SI                  25
2             ALOJ008             1500      SI                  25
3             ALOJ009             1600      SI                 100
4             ALOJ010             1750      SI                  25
5             ALOJ011             1825      NO                   0
6             ALOJ012             1750      NO                   0
7             ALOJ013             1652      NO                   0
8             ALOJ014             1941      NO                   0
9             ALOJ015             1800      SI                  25
10            ALOJ016             2000      SI                  30
11            ALOJ018             1900      SI                  25
12            ALOJ019             1570      NO                   0
13            ALOJ020             1580      NO                   0

**QUERY 6**

In [13]:
# Query 6: Porcentaje de reserva = 25%
query6 = "SELECT * FROM precio WHERE PORCENTAJE_RESERVA = 25"

sSQL = pd.read_sql(query6, conn)
sSQL

  CODIGO_ALOJAMIENTO  PRECIO_ALQUILER RESERVA  PORCENTAJE_RESERVA
0            ALOJ002              780      SI                  25
1            ALOJ004             1600      SI                  25
2            ALOJ008             1500      SI                  25
3            ALOJ010             1750      SI                  25
4            ALOJ015             1800      SI                  25
5            ALOJ018             1900      SI                  25

**QUERY 7**

In [14]:
# Query 7: Puntos alojamiento >4.5 Y puntos agencia >4
query7 = "SELECT * FROM puntuacion WHERE PUNTOS > 4.5 AND PUNTOS_AGENCIA > 4"

sSQL = pd.read_sql(query7, conn)
sSQL

   CODIGO_ALOJAMIENTO  PUNTOS            AGENCIA  PUNTOS_AGENCIA
0             ALOJ001     5.0         GlobalHome             4.4
1             ALOJ004     4.6         CaribeRent             4.6
2             ALOJ007     4.9       SevillaRooms             4.5
3             ALOJ008     4.8          ChileVive             4.3
4             ALOJ009     4.7         MexicoRent             4.8
5             ALOJ010     4.8          UYAlquila             4.9
6             ALOJ014     4.7        BogotaLodge             4.5
7             ALOJ015     4.9  EasyStay Valencia             4.7
8             ALOJ017     4.9         CuscoRenta             4.4
9             ALOJ018     4.7       MendozaRooms             4.7
10            ALOJ019     4.9            GDLRent             4.2
11            ALOJ020     4.9           VivaStay             4.9

### <span style="color:#3498db"> **1.2 QUERY COMBINADA**

In [15]:
# ========== QUERY COMBINADA - TODOS LOS FILTROS ==========

query_final = """
SELECT 
    a.CODIGO_ALOJAMIENTO,
    a.NOMBRE,
    a.TERRAZA,
    a.AIREC_ACOND, 
    a.PISCINA,
    a.SALON,
    a.CANT_BANYOS,
    a.SUPERFICIE,
    u.PAIS,
    u.CIUDAD,
    u.DIST_METRO,
    u.DIST_CENTRO,
    p.PRECIO_ALQUILER,
    p.PORCENTAJE_RESERVA,
    pt.PUNTOS,
    pt.AGENCIA,
    pt.PUNTOS_AGENCIA
FROM alojamiento a
JOIN ubicacion u ON a.CODIGO_ALOJAMIENTO = u.CODIGO_ALOJAMIENTO
JOIN precio p ON a.CODIGO_ALOJAMIENTO = p.CODIGO_ALOJAMIENTO
JOIN puntuacion pt ON a.CODIGO_ALOJAMIENTO = pt.CODIGO_ALOJAMIENTO
WHERE a.TERRAZA = 'SI'
  AND a.AIREC_ACOND = 'SI'
  AND a.PISCINA = 'NO'
  AND a.SALON = 'SI'
  AND a.CANT_BANYOS > 1
  AND a.SUPERFICIE >= 80
  AND u.DIST_METRO > 1
  AND u.DIST_CENTRO > 2
  AND p.PRECIO_ALQUILER BETWEEN 1500 AND 2000
  AND p.PORCENTAJE_RESERVA = 25
  AND pt.PUNTOS > 4.5
  AND pt.PUNTOS_AGENCIA > 4
"""

pd.read_sql(query_final, conn)

,CODIGO_ALOJAMIENTO,NOMBRE,TERRAZA,AIREC_ACOND,PISCINA,SALON,CANT_BANYOS,SUPERFICIE,PAIS,CIUDAD,DIST_METRO,DIST_CENTRO,PRECIO_ALQUILER,PORCENTAJE_RESERVA,PUNTOS,AGENCIA,PUNTOS_AGENCIA
0,ALOJ004,Piso Centro Histﾃｳrico,SI,SI,NO,SI,2,90,Francia,Marsella,3.0,4.0,1600,25,4.6,CaribeRent,4.6
1,ALOJ010,ﾃ》ico del Sol,SI,SI,NO,SI,3,88,Espaﾃｱa,Bilbao,2.0,5.0,1750,25,4.8,UYAlquila,4.9
2,ALOJ015,Dﾃｺplex Las Rocas,SI,SI,NO,SI,3,120,Espaﾃｱa,Mﾃ｡laga,2.0,4.0,1800,25,4.9,EasyStay Valencia,4.7
3,ALOJ018,Piso Parque Central,SI,SI,NO,SI,2,100,Espaﾃｱa,Ibiza,2.0,4.0,1900,25,4.7,MendozaRooms,4.7

### <span style="color:#3498db"> **1.3 RECOMENDACIﾃ哲**

 <span style="color:#3498db"> Como habﾃｩis visto, tenemos 4 propiedades que cumplen con todas las exigencias de nuestro cliente, ahora bien, desde tu punto de vista, haciendo un anﾃ｡lisis de los datos del cliente y de todas sus exigencias ﾂｿCuﾃ｡l de estos 4 alojamientos le recomendarﾃｭas y por quﾃｩ?

<div style="background-color:#f8f9fa; padding:10px; border-left:4px solid #3498db; margin:10px 0; color:#2c3e50; font-weight:500;">
<strong>汳｡ Nota importante:</strong> DEBO SABER CUﾃ¨TAS HABITACIONES HAY PARA PODER DECIDIR YA QUE SON 8 PERSONAS
</div>

In [ ]:
# ========== QUERY COMBINADA - INCLUYENDO HABITACIONES ==========

query_final = """
SELECT 
    a.CODIGO_ALOJAMIENTO,
    a.NOMBRE,
    a.CANT_HAB,
    a.CANT_BANYOS,
    a.SUPERFICIE,
    a.TERRAZA,
    a.AIREC_ACOND, 
    a.PISCINA,
    a.SALON,
    u.PAIS,
    u.CIUDAD,
    u.DIST_METRO,
    u.DIST_CENTRO,
    p.PRECIO_ALQUILER,
    p.PORCENTAJE_RESERVA,
    pt.PUNTOS,
    pt.AGENCIA,
    pt.PUNTOS_AGENCIA
FROM alojamiento a
JOIN ubicacion u ON a.CODIGO_ALOJAMIENTO = u.CODIGO_ALOJAMIENTO
JOIN precio p ON a.CODIGO_ALOJAMIENTO = p.CODIGO_ALOJAMIENTO
JOIN puntuacion pt ON a.CODIGO_ALOJAMIENTO = pt.CODIGO_ALOJAMIENTO
WHERE a.TERRAZA = 'SI'
  AND a.AIREC_ACOND = 'SI'
  AND a.PISCINA = 'NO'
  AND a.SALON = 'SI'
  AND a.CANT_BANYOS > 1
  AND a.SUPERFICIE >= 80
  AND u.DIST_METRO > 1
  AND u.DIST_CENTRO > 2
  AND p.PRECIO_ALQUILER BETWEEN 1500 AND 2000
  AND p.PORCENTAJE_RESERVA = 25
  AND pt.PUNTOS > 4.5
  AND pt.PUNTOS_AGENCIA > 4
ORDER BY a.CANT_HAB DESC, a.SUPERFICIE DESC
"""

pd.read_sql(query_final, conn)

,CODIGO_ALOJAMIENTO,NOMBRE,CANT_HAB,CANT_BANYOS,SUPERFICIE,TERRAZA,AIREC_ACOND,PISCINA,SALON,PAIS,CIUDAD,DIST_METRO,DIST_CENTRO,PRECIO_ALQUILER,PORCENTAJE_RESERVA,PUNTOS,AGENCIA,PUNTOS_AGENCIA
0,ALOJ015,Dﾃｺplex Las Rocas,4,3,120,SI,SI,NO,SI,Espaﾃｱa,Mﾃ｡laga,2.0,4.0,1800,25,4.9,EasyStay Valencia,4.7
1,ALOJ018,Piso Parque Central,4,2,100,SI,SI,NO,SI,Espaﾃｱa,Ibiza,2.0,4.0,1900,25,4.7,MendozaRooms,4.7
2,ALOJ004,Piso Centro Histﾃｳrico,3,2,90,SI,SI,NO,SI,Francia,Marsella,3.0,4.0,1600,25,4.6,CaribeRent,4.6
3,ALOJ010,ﾃ》ico del Sol,3,3,88,SI,SI,NO,SI,Espaﾃｱa,Bilbao,2.0,5.0,1750,25,4.8,UYAlquila,4.9

<span style="color:#3498db"> **RECOMENDACIﾃ哲** </span>

<span style="color:#3498db"> Nuestro cliente estﾃ｡ a punto de tener unas vacaciones en famﾃｭlia, tranquilas y cﾃｳmodas. Debo tener en cuenta que son 8 personas, entre ellas 3 parejas y dos supuestos niﾃｱos o tal vez adolescentes hermanos menores del cliente. 
ﾃ鋭to es muy importante, debe haber **4 habitaciones** y ademﾃ｡s considero que debe ser el apartamento **mﾃ｡s espacioso** de ellos. 
Es por eso que el apartamento con cﾃｳdigo de alojamiento ALOJ015 situado en Mﾃ｡laga es el que recomendarﾃｭa. </span>

In [16]:
# ========== ALOJAMIENTO RECOMENDADO =========

query_= """
SELECT 
    a.CODIGO_ALOJAMIENTO,
    a.NOMBRE,
    a.CANT_HAB,
    a.SUPERFICIE,
    u.CIUDAD,
    u.PAIS,
    p.PRECIO_ALQUILER,
    pt.PUNTOS,
    pt.AGENCIA
FROM alojamiento a
JOIN ubicacion u ON a.CODIGO_ALOJAMIENTO = u.CODIGO_ALOJAMIENTO
JOIN precio p ON a.CODIGO_ALOJAMIENTO = p.CODIGO_ALOJAMIENTO
JOIN puntuacion pt ON a.CODIGO_ALOJAMIENTO = pt.CODIGO_ALOJAMIENTO
WHERE a.CODIGO_ALOJAMIENTO = 'ALOJ015'
"""

pd.read_sql(query_, conn)

,CODIGO_ALOJAMIENTO,NOMBRE,CANT_HAB,SUPERFICIE,CIUDAD,PAIS,PRECIO_ALQUILER,PUNTOS,AGENCIA
0,ALOJ015,Dﾃｺplex Las Rocas,4,120,Mﾃ｡laga,Espaﾃｱa,1800,4.9,EasyStay Valencia

<span style="background-color:#28a745; color:white; padding:2px 8px; border-radius:12px; font-size:12px;">COMPLETADO</span>

## <span style="color:#3498db"> **2.EJERCICIOS SEGUNDA PARTE**

<span style="color:#3498db">Responde las siguientes preguntas (con su respectiva query) 
* ﾂｿCuﾃ｡l es la suma total de metros cuadrados de los alojamientos que tienen piscina? 
* ﾂｿCuﾃ｡l es el alojamiento con mayor superficie? 
* ﾂｿCuﾃ｡l es el alojamiento con menor superficie? 
* ﾂｿCuﾃ｡ntos alojamientos tienen salﾃｳn? 
* ﾂｿCuﾃ｡ntos alojamientos tienen terraza? 
* ﾂｿCuﾃ｡ntos alojamientos hay por cada paﾃｭs segﾃｺn nuestra tabla de UBICACIﾃ哲? 
* ﾂｿCuﾃ｡l es el promedio de precios de alquiler de todos los alojamientos segﾃｺn la 
tabla PRECIO? 
* ﾂｿCuﾃ｡les son las 3 agencias que tienen la mayor puntuaciﾃｳn de agencia (campo a 
usar: PUNTOS_AGENCIA) segﾃｺn la tabla PUNTUACION? 
* Muestra los alojamientos (cﾃｳdigo y nombre) que: Contengan la palabra 窶榔iso窶 en su 
nombre o que tengan piscina y aire acondicionado, pero no pasen los 150 metros 
de superficie o que tengan mﾃ｡s de un baﾃｱo 
* Muestra una consulta que muestre el cﾃｳdigo de alojamiento, el nombre, el precio y 
una columna donde veamos el precio del alquiler con el sﾃｭmbolo del euro al final de 
cada importe, esta nueva columna se debe llama PRECIO_MODIF 
* Muestra una columna sobre la tabla PRECIO que se llame CATEGORIA_PRECIO y 
que indique la palabra 窶錬ajo窶 si el precio estﾃ｡ entre 780 y 1000, 窶弄edio窶 si el precio 
estﾃ｡ entre 1000 y 1700 y 窶連lto窶 si es mayor a 1700</span>

### <span style="color:#3498db">2.1 QUERY METROS CUADRADOS TOTALES

In [17]:
# Query 1: Suma total de metros cuadrados con piscina
query1 = "SELECT SUM(SUPERFICIE) FROM alojamiento WHERE PISCINA = 'SI'"

pd.read_sql(query1, conn)

   SUM(SUPERFICIE)
0            850.0

### <span style="color:#3498db">2.2 QUERY ALOJAMIENTO MAYOR SUPERFICIE

In [18]:
# Query 2: Alojamiento con mayor superficie con order by desc y limit 1 me darﾃ｡ el que tenga mayor superfﾃｭcie
query2 = "SELECT * FROM alojamiento ORDER BY SUPERFICIE DESC LIMIT 1"

pd.read_sql(query2, conn)

,CODIGO_ALOJAMIENTO,NOMBRE,CANT_BANYOS,CANT_HAB,SALON,TERRAZA,AIREC_ACOND,PISCINA,SUPERFICIE
0,ALOJ017,Chalet Jardﾃｭn Secreto,3,5,SI,SI,SI,SI,180

### <span style="color:#3498db">2.3 QUERY ALOJAMIENTO CON MENOR SUPERFICIE

In [21]:
# Query 2: Alojamiento con mayor superficie con order by ASC y limit 1 me darﾃ｡ el que tenga menor superfﾃｭcie
query3 = "SELECT * FROM alojamiento ORDER BY SUPERFICIE ASC LIMIT 1"

pd.read_sql(query3, conn)

,CODIGO_ALOJAMIENTO,NOMBRE,CANT_BANYOS,CANT_HAB,SALON,TERRAZA,AIREC_ACOND,PISCINA,SUPERFICIE
0,ALOJ016,Estudio Urbano,1,1,NO,NO,SI,NO,35

### <span style="color:#3498db">2.4 QUERY CUﾃ¨TOS ALOJAMIENTOS TIENEN SALﾃ哲

In [ ]:
# Query 4: Cuﾃ｡ntos alojamientos tienen salﾃｳn
query4 = "SELECT COUNT(*) FROM alojamiento WHERE SALON = 'SI'"

pd.read_sql(query4, conn)

   COUNT(*)
0        16

### <span style="color:#3498db">2.5 QUERY CUﾃ¨TOS ALOJAMIENTOS TIENEN TERRAZA

In [25]:
# Query 5: Cuﾃ｡ntos alojamientos tienen TERRAZA
query5 = "SELECT COUNT(*) FROM alojamiento WHERE TERRAZA = 'SI'"

pd.read_sql(query5, conn)

   COUNT(*)
0        14

### <span style="color:#3498db">2.6 QUERY CUﾃ¨TOS ALOJAMIENTOS POR PAﾃ拘

In [26]:
# Query 6: Cuﾃ｡ntos alojamientos por paﾃｭs
query6 = "SELECT PAIS, COUNT(*) FROM ubicacion GROUP BY PAIS"

pd.read_sql(query6, conn)

       PAIS  COUNT(*)
0  Portugal         4
1    Espaﾃｱa         8
2   Francia         4
3    Italia         4

### <span style="color:#3498db">2.7 QUERY PRECIO PROMEDIO

In [29]:
# Query 7: Promedio de precios de alquiler
query7 = "SELECT AVG(PRECIO_ALQUILER) FROM precio"

pd.read_sql(query7, conn)

   AVG(PRECIO_ALQUILER)
0                1568.4

### <span style="color:#3498db">2.8 QUERY AGENCIAS TOP3

In [ ]:
# Query 8: Las 3 agencias con mayor puntuaciﾃｳn
query8 = "SELECT * FROM puntuacion ORDER BY PUNTOS_AGENCIA DESC LIMIT 3"

pd.read_sql(query8, conn)

  CODIGO_ALOJAMIENTO  PUNTOS        AGENCIA  PUNTOS_AGENCIA
0            ALOJ006     4.3     TerraHouse             4.9
1            ALOJ010     4.8      UYAlquila             4.9
2            ALOJ011     4.0  MalagaTurismo             4.9

### <span style="color:#3498db">2.9 QUERY CON OR  Y AND ("PISO" O PISCINA Y A/C, <150m o >1 wc)

In [32]:
# Query 9: Tres condiciones separadas
query9 = """SELECT CODIGO_ALOJAMIENTO, NOMBRE 
FROM alojamiento 
WHERE NOMBRE LIKE '%Piso%' 
   OR (PISCINA = 'SI' AND AIREC_ACOND = 'SI' AND SUPERFICIE < 150)
   OR (SUPERFICIE >= 150 AND CANT_BANYOS > 1)"""

pd.read_sql(query9, conn)

  CODIGO_ALOJAMIENTO                   NOMBRE
0            ALOJ001        Villa Sol del Mar
1            ALOJ004    Piso Centro Histﾃｳrico
2            ALOJ006     Chalet Vista al Lago
3            ALOJ007  Dﾃｺplex Jardines del Sur
4            ALOJ012           Villa Palmeras
5            ALOJ014             Casa del Mar
6            ALOJ017    Chalet Jardﾃｭn Secreto
7            ALOJ018      Piso Parque Central

In [ ]:
# Query 9: Alojamientos que cumplan cualquiera de las 4 
query9 = """SELECT CODIGO_ALOJAMIENTO, NOMBRE 
FROM alojamiento 
WHERE NOMBRE LIKE '%Piso%' 
   OR (PISCINA = 'SI' AND AIREC_ACOND = 'SI' AND SUPERFICIE < 150) 
   OR CANT_BANYOS > 1"""

pd.read_sql(query9, conn)

   CODIGO_ALOJAMIENTO                   NOMBRE
0             ALOJ001        Villa Sol del Mar
1             ALOJ004    Piso Centro Histﾃｳrico
2             ALOJ006     Chalet Vista al Lago
3             ALOJ007  Dﾃｺplex Jardines del Sur
4             ALOJ009     Casa Rﾃｺstica Montaﾃｱa
5             ALOJ010            ﾃ》ico del Sol
6             ALOJ012           Villa Palmeras
7             ALOJ014             Casa del Mar
8             ALOJ015         Dﾃｺplex Las Rocas
9             ALOJ017    Chalet Jardﾃｭn Secreto
10            ALOJ018      Piso Parque Central
11            ALOJ019           Casa Rﾃｭo Claro

Este enunciado tiene 4 condiciones. Pero cada dos condiciones se cancela con un OR, es decir finalmente tiene que cumplir una condicioﾃｳn de cada par. Devolverﾃ｡:
- Si es PISO <150m 
- Si es PISO > 1 wc. 
- Si tiene piscina+AC, <150m
- Si tiene piscina+AC, >1wc.

In [ ]:
# Query 9b: Dos grupos combinados correctamente a mi parecer esta es la query que harﾃｭa para el resultado que intuyo busca en el enunciado
query9b = """SELECT CODIGO_ALOJAMIENTO, NOMBRE 
FROM alojamiento 
WHERE (NOMBRE LIKE '%Piso%' AND (SUPERFICIE < 150 OR CANT_BANYOS > 1))
   OR (PISCINA = 'SI' AND AIREC_ACOND = 'SI' AND (SUPERFICIE < 150 OR CANT_BANYOS > 1))"""

pd.read_sql(query9b, conn)

  CODIGO_ALOJAMIENTO                   NOMBRE
0            ALOJ001        Villa Sol del Mar
1            ALOJ004    Piso Centro Histﾃｳrico
2            ALOJ006     Chalet Vista al Lago
3            ALOJ007  Dﾃｺplex Jardines del Sur
4            ALOJ012           Villa Palmeras
5            ALOJ014             Casa del Mar
6            ALOJ017    Chalet Jardﾃｭn Secreto
7            ALOJ018      Piso Parque Central

### <span style="color:#3498db">2.10 NUEVA COLUMNA

In [ ]:
# Query 10: Mostrar precio normal y precio con sﾃｭmbolo 竄ｬ
query10 = """SELECT 
    a.CODIGO_ALOJAMIENTO,
    a.NOMBRE,
    p.PRECIO_ALQUILER,
    CONCAT(p.PRECIO_ALQUILER, '竄ｬ') as PRECIO_MODIF
FROM alojamiento a
JOIN precio p ON a.CODIGO_ALOJAMIENTO = p.CODIGO_ALOJAMIENTO"""

pd.read_sql(query10, conn)

   CODIGO_ALOJAMIENTO                    NOMBRE  PRECIO_ALQUILER PRECIO_MODIF
0             ALOJ001         Villa Sol del Mar             1800        1800竄ｬ
1             ALOJ002  Apartamento Las Palmeras              780         780竄ｬ
2             ALOJ003         Cabaﾃｱa El Refugio              800         800竄ｬ
3             ALOJ004     Piso Centro Histﾃｳrico             1600        1600竄ｬ
4             ALOJ005      Estudio Playa Blanca              900         900竄ｬ
5             ALOJ006      Chalet Vista al Lago             1200        1200竄ｬ
6             ALOJ007   Dﾃｺplex Jardines del Sur             1300        1300竄ｬ
7             ALOJ008               Loft Urbano             1500        1500竄ｬ
8             ALOJ009      Casa Rﾃｺstica Montaﾃｱa             1600        1600竄ｬ
9             ALOJ010             ﾃ》ico del Sol             1750        1750竄ｬ
10            ALOJ011   Cabaﾃｱa Bosque Encantado             1825        1825竄ｬ
11            ALOJ012            Villa Palmeras             1750        1750竄ｬ
12            ALOJ013       Apartamento Moderno             1652        1652竄ｬ
13            ALOJ014              Casa del Mar             1941        1941竄ｬ
14            ALOJ015          Dﾃｺplex Las Rocas             1800        1800竄ｬ
15            ALOJ016            Estudio Urbano             2000        2000竄ｬ
16            ALOJ017     Chalet Jardﾃｭn Secreto             2120        2120竄ｬ
17            ALOJ018       Piso Parque Central             1900        1900竄ｬ
18            ALOJ019            Casa Rﾃｭo Claro             1570        1570竄ｬ
19            ALOJ020       Loft Estaciﾃｳn Norte             1580        1580竄ｬ

### <span style="color:#3498db">2.11 CATEGORIA PRECIO

In [37]:
# Query 11: Columna CATEGORIA_PRECIO con categorﾃｭas segﾃｺn rangos
query11 = """SELECT 
    CODIGO_ALOJAMIENTO,
    PRECIO_ALQUILER,
    RESERVA,
    PORCENTAJE_RESERVA,
    CASE 
        WHEN PRECIO_ALQUILER BETWEEN 780 AND 1000 THEN 'Bajo'
        WHEN PRECIO_ALQUILER BETWEEN 1001 AND 1700 THEN 'Medio' 
        WHEN PRECIO_ALQUILER > 1700 THEN 'Alto'
        ELSE 'Sin categorﾃｭa'
    END AS CATEGORIA_PRECIO
FROM precio
ORDER BY PRECIO_ALQUILER"""

pd.read_sql(query11, conn)

,CODIGO_ALOJAMIENTO,PRECIO_ALQUILER,RESERVA,PORCENTAJE_RESERVA,CATEGORIA_PRECIO
0,ALOJ002,780,SI,25,Bajo
1,ALOJ003,800,NO,0,Bajo
2,ALOJ005,900,NO,0,Bajo
3,ALOJ006,1200,NO,0,Medio
4,ALOJ007,1300,NO,0,Medio
5,ALOJ008,1500,SI,25,Medio
6,ALOJ019,1570,NO,0,Medio
7,ALOJ020,1580,NO,0,Medio
8,ALOJ004,1600,SI,25,Medio
9,ALOJ009,1600,SI,100,Medio
10,ALOJ013,1652,NO,0,Medio
11,ALOJ010,1750,SI,25,Alto
12,ALOJ012,1750,NO,0,Alto
13,ALOJ001,1800,SI,100,Alto
14,ALOJ015,1800,SI,25,Alto
15,ALOJ011,1825,NO,0,Alto
16,ALOJ018,1900,SI,25,Alto
17,ALOJ014,1941,NO,0,Alto
18,ALOJ016,2000,SI,30,Alto
19,ALOJ017,2120,NO,0,Alto

<div style="background-color:#d4edda; padding:10px; border-left:4px solid #28a745; margin:10px 0; color:#2c3e50;">
<strong>笨 ﾃ悦ito:</strong> Operaciﾃｳn completada
</div>

<div align="center">
<h2>FIN DEL ENTREGABLE</h2>
<p>Junio 2025</p>
</div>